Port 2222
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes

AllowUsers ssh
AllowGroups ssh

Match User ssh
	AllowTcpForwarding yes
	GatewayPorts yes
	X11Forwarding no
	PermitTTY no
